body {
    background-color: #fff0db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    /*Makes the entire page into a column flexbox display*/
}

#title{
    font-size: 60px;
    font-weight: 700;

}

#image-container{
    padding: 25px;
    background-color: #eed9c4;
    width: 525px;
    height: 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #d9b99b;
    /*Flex-container to store our image buttons */
}

img {
    height: 150px;
    width: 150px;
}

button{
    background-color: #eed9c4;
    border: none; /*Removed the button border */
}