body {
    background-color: #fff0db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /*makes the margin 0 b/c the pre-set margin isn't 0*/
    gap: 25px;
    min-height: 100vh; /*makes sure the document uses at min 100% of the window space*/
    /*Makes the entire page into a column flexbox display*/
}

#title{
    font-size: 60px;
    font-weight: 700;
    border: 5px solid #d9b99b;
    background-color: #eed9c4;
    width: 580px;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    margin-top: 25px;

}

#image-container{
    padding: 25px;
    background-color: #eed9c4;
    width: 580px;
    height: 200px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #d9b99b;
    /*Flex-container to store our image buttons */
}

img {
    height: 150px;
    width: 150px;
}

#image-container button{
    background-color: #eed9c4;
    border: none; /*Removed the button border */
}

#result-container{
    border: 5px solid #d9b99b;
    width: 580px;
    height: 150px;
    box-sizing: border-box;
    background-color: #eed9c4;
    display:flex;
    padding: 5px;
}

#cpu-choice{
    font-size: 15px;
    font-weight: 700;
    border-right: 5px solid #d9b99b;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#cpu, #user-score, #cpu-score{
    border-bottom: 5px solid #d9b99b;
}
#cpu-choice img{
    height: 100px;
    width: 100px;
}

#text-container{
    display:flex;
    flex-direction: column;
    padding: 0px 15px;
    flex-grow: 1; 
    /*So that the flex-items grow to take up all the available space
    Allows our header to not waste space. */
}
#header{
    display:flex;
    font-size: 15px;
    font-weight: 700;
    gap: 10px;
    margin-bottom: 15px;
}


#game-end{
    border: 5px solid #d9b99b;
    width: 580px;
    height: 125px;
    background-color: #eed9c4;
    padding: 10px;
    box-sizing: border-box;  
    display: none; 
    /*Have the game-end be initially hidden. It will be turned to flex once someone wins and be turned back to none if play-agaim*/
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#game-end div{
    font-size: 35px;
    font-weight: 700;
}

#game-end button{
    background-color: #eed9c4;
    border-color: #d9b99b;
    border-radius: 6px;
    font-weight: 300;
    padding: 5px 10px;
}


#footer{
    background-color: #e4d5b7;
    width: 100%;
    gap: 10px;
    padding: 15px;
    margin-top: auto;
    align-self: flex-end; /*pushes it to the bottom using align-self since its a flex item for body*/
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#footer img{
    width: 25px;
    height: 25px;
}